# Домашнее Задание 1

####  Ваши имя и фамилия

## NumPy

####  1. Создайте массив  с 10 случайными числами из распределения Гаусса

In [1]:
import numpy as np

In [5]:
arr = np.random.normal(loc=0.0, scale=1.0, size=10)
print(arr)
print(len(arr))

[-2.09055458 -0.04353585  0.30049882  0.74720687  1.00317289 -0.24917839
  0.13347122  0.30075383 -1.35174568  0.27995593]
10

#### 2. Создайте следующую матрицу: https://jakevdp.github.io/PythonDataScienceHandbook/02.05-computation-on-arrays-broadcasting.html

In [56]:
start = 0.01
stop = 0.11
init_row = np.zeros(10)#строка из нулей, чтобы было к чему присоединять нудные нам строки
while stop<=1.1:
    row = np.arange(start, stop, 0.01)
    if len(row)<=10:
        init_row = np.vstack((init_row,row))
    else:
        init_row = np.vstack((init_row,row[:10]))
            
    start = stop
    stop = stop+0.1
init_row[1:]#отбрасываем строку из нулей
#matrix

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

array([[ 0.01,  0.02,  0.03,  0.04,  0.05,  0.06,  0.07,  0.08,  0.09,  0.1 ],
       [ 0.11,  0.12,  0.13,  0.14,  0.15,  0.16,  0.17,  0.18,  0.19,  0.2 ],
       [ 0.21,  0.22,  0.23,  0.24,  0.25,  0.26,  0.27,  0.28,  0.29,  0.3 ],
       [ 0.31,  0.32,  0.33,  0.34,  0.35,  0.36,  0.37,  0.38,  0.39,  0.4 ],
       [ 0.41,  0.42,  0.43,  0.44,  0.45,  0.46,  0.47,  0.48,  0.49,  0.5 ],
       [ 0.51,  0.52,  0.53,  0.54,  0.55,  0.56,  0.57,  0.58,  0.59,  0.6 ],
       [ 0.61,  0.62,  0.63,  0.64,  0.65,  0.66,  0.67,  0.68,  0.69,  0.7 ],
       [ 0.71,  0.72,  0.73,  0.74,  0.75,  0.76,  0.77,  0.78,  0.79,  0.8 ],
       [ 0.81,  0.82,  0.83,  0.84,  0.85,  0.86,  0.87,  0.88,  0.89,  0.9 ],
       [ 0.91,  0.92,  0.93,  0.94,  0.95,  0.96,  0.97,  0.98,  0.99,  1.  ]])

#### 3. Создайте 2х3 матрицу с равномерно распределенными числами между 5 и 20

In [86]:
init = np.linspace(5,20,6)#создаем набор равномерно распределенных чисел от 5 до 20
init.reshape(2,3)

array([[ 5.,  8., 11.],
       [14., 17., 20.]])

array([[ 5.,  8., 11.],
       [14., 17., 20.]])

## Выбор

#### 1. Напишите код, в результате которого вы получите предложенный результат

In [117]:
mat = np.arange(1,31).reshape(2,3,5)
mat

array([[[ 1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10],
        [11, 12, 13, 14, 15]],

       [[16, 17, 18, 19, 20],
        [21, 22, 23, 24, 25],
        [26, 27, 28, 29, 30]]])

In [103]:
mat[:,-1]

array([[11, 12, 13, 14, 15],
       [26, 27, 28, 29, 30]])

In [105]:
mat[:,1][:,0]

array([ 6, 21])

In [119]:
# Результат 1, не нажимайте на эту клетку

array([[11, 12, 13, 14, 15],
       [26, 27, 28, 29, 30]])

In [124]:
# Результат 2, не нажимайте на эту клетку

array([ 6, 21])

## Pandas

#### 1. Выведите датасет Salaries.csv в дата фрейм sal
Это данные kaggle о зарплатах сотрудников города Сан Франциско

In [58]:
import pandas as pd
import numpy as np

In [61]:
import warnings
warnings.filterwarnings("ignore")

In [96]:
sal = pd.read_csv('d://robot_dreams/math for DS/salaries.csv')

In [97]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

#### 2. Покажите голову дата фрайма

In [98]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

#### 3. Какая средняя базовая зарплата (BasePay)?

In [79]:
sal = sal[sal['BasePay'] != 'Not Provided']#выбросили значения Not Provided
sal['BasePay'].dropna().astype(float).mean()#выбросили все NaN, перевели в тип float, нашли среднее

66325.44884050643

#### 4. Какая самая высокая зарплата за дополнителную работу OvertimePay?

In [90]:
sal['OvertimePay'].astype(float).max()

245131.88

#### 5. Какая профессия у JOSEPH DRISCOLL? Пишите имя большими буквами)

In [102]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].item()

'CAPTAIN, FIRE SUPPRESSION'

#### 6. Как зовут человека с самой большой зарплатой?

In [114]:
sal[sal['TotalPay'] == sal['TotalPay'].max()]['EmployeeName'].item()

'NATHANIEL FORD'

In [113]:
sal.sort_values('TotalPay', ascending=False).iloc[0]['EmployeeName']

'NATHANIEL FORD'

#### 7. Сколько разных профессий в таблице?

In [115]:
sal['JobTitle'].nunique()

2159

#### 8. Какие 5 профессий повторяются чаще всего?

In [118]:
sal['JobTitle'].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64